{% extends "../base.html" %}
{% block title %}Create Event{% endblock %}
{% block content %}
        <h2>Create Event</h2>
        <form method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div>
                <label for="place">Place:</label>
                <input type="text" id="place" name="place" required>
            </div>
            <div>
                <label for="visitor_count">Visitor Count:</label>
                <input type="number" id="visitor_count" name="visitor_count" required>
            </div>
            <button type="submit">Create</button>
        </form>
{% endblock %}
