{% extends "base.html" %}
{% block title %}Create Order{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">Создать заказ на {{ event.name }}</h2>
        <p>{{ event.description }}</p>
        <p><strong>Place:</strong> {{ event.place }}</p>
        <p><strong>Visitor Count:</strong> {{ event.visitor_count }}</p>

        {% if event.images %}
            <div class="row event-gallery">
                {% for image in event.images %}
                    <div class="col-md-4">
                        <img src="{{ image.image_url }}" alt="Event Image" class="img-fluid mb-3">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="POST">
            <div class="mb-3">
                <label for="event_date_id" class="form-label">Event Date:</label>
                <select id="event_date_id" name="event_date_id" class="form-select" required>
                        {% for date in event.dates %}
                            <option value="{{ date.id }}">{{ date.date_time }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="visitor_name" class="form-label">Visitor Name:</label>
                <input type="text" id="visitor_name" name="visitor_name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="visitor_email" class="form-label">Visitor Email:</label>
                <input type="email" id="visitor_email" name="visitor_email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="visitor_phone" class="form-label">Visitor Phone:</label>
                <input type="text" id="visitor_phone" name="visitor_phone" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="ticket_count" class="form-label">Ticket Count:</label>
                <input type="number" id="ticket_count" name="ticket_count" max="5" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Order</button>
        </form>
    </div>
{% endblock %}
