{% extends "base.html" %}
{% block title %}Registrations{% endblock %}
{% block content %}
    <h2>Registrations</h2>
    <a href="{{ url_for('registration.create') }}">Create New Registration</a>
    <ul>
        {% for registration in registrations %}
            <li>
                <a href="{{ url_for('registration.detail', registration_id=registration.id) }}">
                    {{ registration.visitor_name }} - {{ registration.event.name }}, дата: {{ registration.event_date.date_time }}
                </a>
                <p>Данные о посетителе: почта - {{ registration.visitor_email }}, телефон - {{ registration.visitor_phone }}</p>
                <p>Статус: {{ registration.status }}</p>
                <form action="{{ url_for('registration.delete', registration_id=registration.id) }}" method="POST" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
